extends layout

block content

	div#wrapper
		div#searchBox
			h2= title

			// SELECT BUS
			p What bus ID are you tracking?
			#selectBus
				input#inputBusNumber(type='number', autofocus=true, required=true, placeholder='Bus Number')
				button#btnSubmit Go
			p Try bus 700 or 701 (Electric Buses) or 4336 (Holiday Bus)
			// /SELECT BUS

			div#debug
	
		// GOOGLE MAP
		div#map-canvas
		// /GOOGLE MAP

