extends layout

block content

	div#wrapper
		div#searchBox
			h2= title

			// SELECT BUS
			p What bus ID are you tracking?
			#selectBus
				input#inputBusNumber(type='text', autofocus=true, required=true, placeholder='Bus Number')
				button#btnSubmit Go
			p Try bus 700 or 701 (Electric Buses).
			p#note Busfinder updated 4/8/2016. #[a(href="http://twitter.com/byroncheng")@byroncheng]
			// /SELECT BUS

			div#debug
	
		// GOOGLE MAP
		div#map-canvas
		// /GOOGLE MAP

